body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1179px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:877px;
}
#u54 {
  position:absolute;
  left:483px;
  top:89px;
  width:435px;
  height:877px;
}
#u55 {
  position:absolute;
  left:2px;
  top:430px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u56 {
  position:absolute;
  left:747px;
  top:472px;
  width:200px;
  height:1px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u58 {
  position:absolute;
  left:972px;
  top:430px;
  width:123px;
  height:83px;
  font-size:16px;
  text-align:left;
}
#u59 {
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u60 {
  position:absolute;
  left:362px;
  top:651px;
  width:200px;
  height:1px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u62 {
  position:absolute;
  left:52px;
  top:567px;
  width:300px;
  height:170px;
  font-size:16px;
}
#u63 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u64 {
  position:absolute;
  left:343px;
  top:835px;
  width:200px;
  height:1px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66 {
  position:absolute;
  left:235px;
  top:781px;
  width:108px;
  height:110px;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u68 {
  position:absolute;
  left:865px;
  top:836px;
  width:200px;
  height:1px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u70 {
  position:absolute;
  left:1050px;
  top:788px;
  width:129px;
  height:98px;
  font-size:16px;
}
#u71 {
  position:absolute;
  left:2px;
  top:40px;
  width:125px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u72 {
  position:absolute;
  left:652px;
  top:854px;
  width:1px;
  height:200px;
}
#u73 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:512px;
  top:1057px;
  width:287px;
  height:60px;
  font-size:16px;
}
#u75 {
  position:absolute;
  left:2px;
  top:20px;
  width:283px;
  word-wrap:break-word;
}
