body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1076px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:878px;
}
#u104 {
  position:absolute;
  left:386px;
  top:13px;
  width:431px;
  height:878px;
}
#u105 {
  position:absolute;
  left:2px;
  top:431px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u106 {
  position:absolute;
  left:643px;
  top:399px;
  width:200px;
  height:1px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u108 {
  position:absolute;
  left:853px;
  top:359px;
  width:199px;
  height:81px;
  font-size:16px;
  text-align:left;
}
#u109 {
  position:absolute;
  left:2px;
  top:31px;
  width:195px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u110 {
  position:absolute;
  left:259px;
  top:575px;
  width:200px;
  height:1px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u112 {
  position:absolute;
  left:240px;
  top:759px;
  width:200px;
  height:1px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u114 {
  position:absolute;
  left:132px;
  top:705px;
  width:108px;
  height:110px;
  font-size:16px;
}
#u115 {
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u116 {
  position:absolute;
  left:762px;
  top:760px;
  width:200px;
  height:1px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u118 {
  position:absolute;
  left:947px;
  top:712px;
  width:129px;
  height:98px;
  font-size:16px;
}
#u119 {
  position:absolute;
  left:2px;
  top:40px;
  width:125px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u120 {
  position:absolute;
  left:549px;
  top:778px;
  width:1px;
  height:200px;
}
#u121 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u122 {
  position:absolute;
  left:409px;
  top:981px;
  width:287px;
  height:60px;
  font-size:16px;
}
#u123 {
  position:absolute;
  left:2px;
  top:20px;
  width:283px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:495px;
  width:300px;
  height:170px;
  font-size:16px;
}
#u125 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
