body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:881px;
}
#u40 {
  position:absolute;
  left:382px;
  top:114px;
  width:436px;
  height:881px;
}
#u41 {
  position:absolute;
  left:2px;
  top:432px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u42 {
  position:absolute;
  left:231px;
  top:258px;
  width:200px;
  height:1px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:51px;
  top:218px;
  width:180px;
  height:82px;
  font-size:16px;
  text-align:left;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u46 {
  position:absolute;
  left:775px;
  top:258px;
  width:200px;
  height:1px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u48 {
  position:absolute;
  left:985px;
  top:218px;
  width:153px;
  height:82px;
  font-size:16px;
  text-align:left;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:149px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u50 {
  position:absolute;
  left:733px;
  top:420px;
  width:200px;
  height:1px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u52 {
  position:absolute;
  left:953px;
  top:378px;
  width:131px;
  height:85px;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:2px;
  top:24px;
  width:127px;
  word-wrap:break-word;
}
